/* MEDIUM */
@media (min-width: 641px) {

    nav ul {
        display: flex;
        gap: 2rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
    }

    .join-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .form-section {
        flex: 2;
    }

    .cards {
        flex: 1;
    }

    /* GRID DISCOVER */
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }

    /* HOVER EFFECT */
    .grid-container img:hover {
        transform: scale(1.05);
        filter: brightness(1.2);
        transition: 0.3s;
    }
}

/* LARGE */
@media (min-width: 1025px) {

    .grid-container {
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card8";
    }
}

/* IMAGES (fora de media) */
.grid-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}